/Exercicio1e2/build/
/Exercicio1e2/nbproject/private/
/Exercicio3/nbproject/private/
/Exercicio3/build/
/Exercicio4/nbproject/private/
/Exercicio4/build/
/Exercicio5/nbproject/private/
/Exercicio5/build/
/Exercicio7,,/nbproject/private/
/Exercicio7,,/build/
/Exercicio6/build/
/Exercicio6/nbproject/private/
/Exercicio7/nbproject/private/
/Exercicio7/build/
/Exercicio8/nbproject/private/
/Exercicio8/build/